.container {
  display: block;
}

.weather-app-wrapper {
  max-width: 740px;
  margin: 30px auto;
}

.gradient_bg {
  background: linear-gradient(63deg, #787dcb, rgb(76, 79, 179) 72%);
  background-size: 400% 400%;
  -webkit-animation: gradient 25s ease infinite;
  animation: gradient 25s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 80% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 80% 50%;
  }
  100% {
    background-position: 0% 40%;
  }
}

.theme-button {
  color: #8c96ad;
  font-size: 10px;
  font-weight: 100;
  display: block;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 230px;
  box-shadow: rgba(92, 90, 90, 0.02) 0px 1px 3px 0px,
    rgba(67, 68, 69, 0.15) 0px 0px 0px 1px;
  border: 1px solid #7a8ba692;
  border-radius: 3px;
  padding: 3px 5px;
  transition: 150ms all ease-in-out;
  white-space: nowrap;
  text-align: center;
}

.theme-button:hover {
  cursor: pointer;
  border: 1px solid #a3a4a5;
  box-shadow: rgba(195, 192, 192, 0.248) 0px 1px 3px 0px,
    rgba(122, 148, 175, 0.678) 0px 0px 0px 1px;
  background: #baceee;
  color: #393b3c;
}

.dark-theme {
  background-color: rgb(111, 110, 108);
}

.dark-theme ul {
  color: #2a2521;
  font-weight: normal;
}

.dark-theme #temperature {
  color: #2a2521;
}

.dark-theme h1 {
  color: #312e2c;
}

.dark-theme .current-btn {
  color: #ada97c;
}

.dark-theme .current-btn:hover {
  color: rgb(111, 110, 108);
  background: #ada97c;
}

.weather-form {
  margin-bottom: 20px;
}

h1 {
  color: #313173;
  font-size: 45px;
  line-height: 28px;
  font-weight: 500;
  white-space: nowrap;
  margin-left: -3px;
}

h1::first-letter {
  text-transform: capitalize;
}

h2 {
  color: #5a6275;
}

.sun-image {
  margin-top: -20px;
  height: 140px;
  width: 140px;
  margin-bottom: -10px;
  margin-left: 10px;
}

.units {
  position: relative;
  top: -34px;
  margin-left: -3px;
}

a.active {
  color: #354072 !important;
}

a.active:hover {
  color: #0f1633 !important;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.day-time {
  margin-bottom: 20px;
}

.day-time,
.parameters {
  color: #d2d6ef;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style-type: none;
  margin-left: 4px;
  margin-top: -20px;
}

.parameters {
  margin-top: 15px;
  margin-left: -1px;
}

.weather-app {
  border: 2px solid #6777aa;
  border-radius: 15px;
  padding: 20px;
}

.temp {
  font-size: 80px;
  color: #313173;
  font-weight: 400;
}

.temperature {
  margin-top: -40px;
  margin-left: 150px;
  white-space: nowrap;
}

#celsius-link {
  color: #9ba7cb;
}

#fahrenheit-link {
  color: #9ba7cb;
}

.current-btn {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-left: 20px !important;
  border: 1.5px solid #354072 !important;
  color: #354072 !important;
}

.current-btn:hover {
  border: 1.5px solid #7f8ac5 !important;
  color: #7f8ac5 !important;
  background: #313173 !important;
}

small {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #6d80ad;
}

small a {
  color: #111a42;
}

small a:hover {
  color: #4e5897;
}

#search-input {
  font-family: "Ubuntu", sans-serif;
}

#current-location {
  font-family: "Ubuntu", sans-serif;
}

.weather-app .active {
  color: #312e2c;
  cursor: default;
}

.weather-app .active:hover {
  text-decoration: none;
}

.weather-forecast {
  text-align: center;
  color: #313173;
}

#weather-forecast-col {
  border: 2px solid #b6bce8;
  border-radius: 4px;
  margin: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 150ms ease-in-out;
}

#weather-forecast-col:hover {
  opacity: 0.6;
  border-color: #49578b;
  transform: scale(1.1);
}

.weather-forecast-temperatures {
  white-space: nowrap;
}

.weather-forecast-temperatures {
  color: #c8ccd3;
}
